*{
    margin:0%;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: #fff;
    padding: 50px 10%;
    
}
#header{
    width: 100%;
    height:100vh;
    background-image: url(images/work.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    }

    .container{
        padding-right: 10px 10%;
        display:inline-flex;
        flex-direction:calc(100% - 50%);
        height:min-content;
    }
    nav{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        
    }
    
    .nav-right{
        display:flex;
        align-items: center;
        gap: 50%;
    }
    .logo{
        width: 200px;
        padding-left: 5px;
    }
    nav ul li {
        display:inline-block;
        list-style: none;;
        margin:10px 20px;
    }
    nav ul li a{
        color:#fff;
        text-decoration: none;
        font-size: 18px;
        position:relative;
        padding-right: 5px 10%;
    }
    nav ul li a::after{
        content:'';
        width:0px;
        height: 3px;
        background-color: #ff004f;
        position:absolute;
        left:0;
        bottom:-6px;
        transition:0.5s;
    }
 nav ul li a:hover::after{
    width:100%;
    }
.header-text{
    margin-top: 2px;
    font-size:30px;
    
}
.header-text h1{
    font-size: 60px;
    margin-top: 100px;
    
}
.header-text h1 span{
    color: #ff004f;
}
.header-text p{
    margin-top: 100px;
}
#about{
    padding: 80px 0;
    color: #ababab;
    

}

.row{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px ;
}
.about-col-2{
    flex-basis: 60%;

}
.subtitle{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
    
    
}
.tab-links{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0px;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left:0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}
.tab-contents ul li span{
    font-size: 14px;
    color: #b54769;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
#areaofinterest{
    padding: 30px 0;
    flex-basis: 35%;
}
.interest-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.interest-list div{
    list-style: none;
    background: #262626;
    padding: 40px;
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 200px;
    align-items: center;
    width:100%;
    grid-gap: 60px;
    box-shadow: #ababab 0px 0px 30px;
    margin-right: 20px;
    
}
.interest-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: #ff004f;
}
.interest-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.interest-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500px;
}
.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    

}
.work{
    border-radius: 10px;
    position: relative;
    overflow:hidden;
    
}
.work img{
    width:100%;
    height: 100%;
    display:block;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform 0.5s;
    
}
#portfolio h1{
    margin-top: 50px;

}
.layer{
    position: absolute;
    
    top:0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.5),#ff004f);
    color:#fff;
    overflow: hidden;
    transition: height 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.work:hover .layer{
    height: 100%;
    cursor:pointer;
}
.layer h3{
    font-size: 24px;
    margin-bottom: 30px;
}
.layer p{
    font-size: 16px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.work:hover img{
    transform: scale(1.1);
}
.btn{
    display:block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
    color:#fff;
}
.btn:hover{
    background: linear-gradient(#ff004f,#b54769);
    
}
.contact-left{
    flex-basis:35%;

}
.contact-right{
    flex-basis:60%;
    
}
.contact-left p{
    margin-top: 10px;
    font-size: 25px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;

}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    color:#fff;
    display:inline-block;
    background: #ff004f;
    
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background:#262626;
    padding: 15px;
    margin: 15px;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{

    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
    align-items: center;
}
.copyright{
    width: 100%;
    text-align:center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    margin:0;
    display: block;

}
.copyright i{
    color:#ff004f;
    
}
nav .fa-solid{
    display:none;
}
nav .fa-bars{
    display:none;
    font-size: 25px;
    color:#fff;
    cursor:pointer;
}
nav .fa-xmark{
    position: absolute;
    top:20px;
    left: 20px;
    color: white;
    font-size:25px;
    cursor:pointer;
}
@media only screen and (max-width:600px){
    #header{
        background-image: url(images/amen3.png);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        height: auto;
        width: 100%;
        padding: 0;
        
    }
    .header-text{
        margin-top:100% ;
        font-size: 1px;
        font-weight:20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 200vh;
        padding-top: 50px;
        z-index:2;
        transition:0.5s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position:absolute;
        top:25px;
        left: 25px;
        cursor:pointer;
    }
    nav .fa-solid.fa-bars{
        display: block;
        padding-left: 10pc;
    }
    .subtitle{
        font-size: 40px;

    }
    .about-col-1 , .about-col-2{
          flex-basis:90%;
    }
    .about-col-1{
        margin-bottom: 30px;
        
         
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right:20px;

    }
    .interest-list{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-gap: 40px;
        margin-top: 50px;
       justify-items: center;
       align-items: start ;
     }
     .interest-list div{
        padding: 50px;
        border-radius: 10px;
        box-shadow: #ababab 0px 0px 30px;
        max-width: 400px;
        text-align: center;
        margin-right: 30px auto;
        align-content: center;
     }
     .contact-left , .contact-right{
        flex-basis:100%;

     }
     .copyright{
        font-size:14px;
     }
     
    }
    



.interest-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
    align-items: start;
    padding: 20px 0;
}

.interest-list div {
    background: #262626;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.1);
    margin: 0 auto;
    margin-top: 50px;
}
#msg{
    display: block;
    color:#61b752;
    margin-top: -40px;
}


  
          
   